@import url("./reset.scss");
@import url("./themes/dark.scss");
@import url("./variables/global.scss");

@import "toastr";

body {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
}

.app {
    position: relative;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;

    font: var(--font-m);
    font-style: normal;

    color: var(--primary-color);
    background-color: var(--bg-color);

    display: flex;
}