@import url("./reset.scss");
@import url("./themes/dark.scss");
// @import url("./themes/normal.scss");
// @import url("./themes/orange.scss");
@import url("./variables/global.scss");

body {

    min-height: 100vh;
}

.app {
    position: relative;
    font: var(--font-m);
    font-weight: 200;
    font-style: normal;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    color: var(--primary-color);
    background-color: var(--bg-color);
    display: flex;
}

aside {
    height: 100%;
}

main {
    flex-grow: 1;
    padding: 20px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    flex-shrink: 100;
}