@import url("./reset.scss");
@import url("./themes/dark.scss");
// @import url("./themes/normal.scss");
// @import url("./themes/orange.scss");
@import url("./variables/global.scss");

body {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.app {
    position: relative;
    // background: var(--bg-redesigned);
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

aside {
    height: 100%;
}

main {
    flex-grow: 1;
    padding: 20px;
    height: calc(100vh - var(--navber-height));
    overflow-y: auto;
    flex-shrink: 100;
}