@font-face {
    font-family: 'TT Fors Trial';
    src: url('../../../shared/assets/fonts/../../../shared/assets/fonts/TTForsTrial-ExtraLight.woff2') format('woff2'),
        url('../../../shared/assets/fonts/TTForsTrial-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Fors Trial';
    src: url('../../../shared/assets/fonts/TTForsTrial-Light.woff2') format('woff2'),
        url('../../../shared/assets/fonts/TTForsTrial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Fors Trial';
    src: url('../../../shared/assets/fonts/TTForsTrial-Bold.woff2') format('woff2'),
        url('../../../shared/assets/fonts/TTForsTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Fors Trial';
    src: url('../../../shared/assets/fonts/TTForsTrial-Medium.woff2') format('woff2'),
        url('../../../shared/assets/fonts/TTForsTrial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Fors Trial';
    src: url('../../../shared/assets/fonts/TTForsTrial-Regular.woff2') format('woff2'),
        url('../../../shared/assets/fonts/TTForsTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Fors Trial';
    src: url('../../../shared/assets/fonts/TTForsTrial-Thin.woff2') format('woff2'),
        url('../../../shared/assets/fonts/TTForsTrial-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}