.page {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.page__header {
    height: 200px;
    font-size: 20px;
}

.page__footer {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 100;
    user-select: none;
}


.namespace {
    position: relative;
    background-color: var(--base-1);
    padding: 40px 10px 20px 10px;
    margin: 0 0 40px 0;

    &__title {
        font-size: 32px;
        position: absolute;
        top: 8px;
        left: 8px;

        color: var(--base-2);

        user-select: none;
    }

    &__body {
        position: relative;
        margin: 0 20px;
    }
}

.essence {
    position: relative;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 50px;
        font-weight: 100;
        line-height: 80px;
        user-select: none;
    }

    &__points {
        width: 100%;
    }
}

.point {
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0px;
    }


    &__title {
        position: relative;
        left: 0;
        font-size: 28px;
        font-weight: 500;
        line-height: 60px;

        // transform: translateX(-40px);
    }
}

.article {
    position: relative;
    background-color: var(--base-3);
    border-radius: 0 20px 20px 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;

    &::before {
        content: '';
        position: absolute;
        left: -20px;
        height: 100%;
        width: 0.5px;
        background-color: #fff;
    }

    .article__line {
        position: relative;
        margin-bottom: 2px;
        // left: 30px;
        width: calc(100% - 40px);

        // span {
        //     position: absolute;
        //     top: 0;
        //     left: -30px;
        //     width: 30px;
        //     text-align: center;
        //     font-weight: 100;
        //     opacity: 0.6;
        //     user-select: none;
        // }
    }


}