.page {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.page__header {
    margin-bottom: 20px;
    font-size: 20px;
}

.page__footer {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 100;
    user-select: none;
}


.namespace {
    position: relative;
    background-color: var(--base-1);
    padding: 24px 10px 20px 10px;
    margin: 0 0 40px 0;

    &__title {
        position: absolute;
        top: 8px;
        left: 8px;

        color: var(--base-2);

        user-select: none;

        font-size: 20px;

        @media (min-width:640px) {
            font-size: 24px;
        }

        @media (min-width:1040px) {
            font-size: 30px;
        }
    }

    &__body {
        position: relative;
        margin: 0 20px;
    }
}

.essence {
    position: relative;
    display: flex;
    flex-direction: column;

    &__title {
        margin-top: 10px;
        font-size: 32px;
        font-weight: 100;
        line-height: 30px;
        user-select: none;

        @media (min-width:640px) {
            font-size: 42px;
            line-height: 60px;
        }

        @media (min-width:1040px) {
            font-size: 50px;
            line-height: 70px;
        }
    }

    &__points {
        width: 100%;
    }
}

.point {
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0px;
    }


    &__title {
        position: relative;
        left: 0;

        font-weight: 500;
        font-size: 26px;
        line-height: 44px;

        @media (min-width:640px) {
            font-size: 32px;
            line-height: 50px;
        }

        @media (min-width:1040px) {
            font-size: 40px;
            line-height: 60px;
        }
    }
}

.article {
    position: relative;
    background-color: var(--base-3);
    border-radius: 0 20px 20px 0;

    font-weight: 300;

    font-size: 14px;
    line-height: 16px;

    @media (min-width:640px) {
        font-size: 16px;
        line-height: 18px;
    }

    @media (min-width:1040px) {
        font-size: 18px;
        line-height: 20px;
    }

    &::before {
        content: '';
        position: absolute;
        left: -20px;
        height: 100%;
        width: 0.5px;
        background-color: #fff;
    }

    .article__line {
        position: relative;
        margin-bottom: 2px;
        width: calc(100% - 40px);
    }


}